:root {
    --background: black;
    --color-input: #bdae82;
    --color-font: #F4F4F4;
    --rina: #32C2E2;
    --color-hover: #090D10;
    --under-gold: #C8A65F;
    --gold: #af9a1d;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Poppins:wght@400;500&display=swap');

/* Reset */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Reset */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

.header-wrapper {
    background: var(--background);
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7em;
    margin: 0 auto;
    height: 7.7em;
    max-width: 108em;
}

.header-nav {
    display: flex;
    gap: 2.5em;
    justify-content: center;
}

.button {
    background: var(--under-gold);
    border-radius: 3em;
    padding: 0.2em;
    height: 2.5em;
    width: 8em;
    font-family: 'Poppins', sans-serif;
    font-style: medium;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.2em;
    letter-spacing: 0.06em;
    color: var(--color-hover);
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.button:hover {
    background: var(--color-hover);
    color: var(--under-gold);
    border: 2px solid var(--under-gold);
}

.header-container__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 3.3em;
    line-height: 1em;
    color: var(--under-gold);
}

.header-container__items {
    display: flex;
    gap: 2rem;
}

.footer-wrapper {
    width: 100%;
    background: var(--background);
}

.footer-container {
    max-width: 108em;
    padding: 0 7em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8em;
}

.footer-git{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
}

.github-link {
    width: 7em;
    height: 2em;
    background-image: url("../src/assets/images/GihHub.svg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(80%) sepia(87%) saturate(679%) hue-rotate(193deg) brightness(125%) contrast(91%);
    transition: 0.3s;
}

.github-link:hover {
    filter: invert(54%) sepia(88%) saturate(380%) hue-rotate(14deg) brightness(93%) contrast(94%);
}

.footer-rss {
    padding: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-family: 'Poppins', sans-serif; 
    font-style: medium;
    font-weight: 400;
    font-size: 1.2px;
    line-height: 2em;
    letter-spacing: 0.15px;
    color: var(--color-font);
    text-align: center;
}

.rss {
    width: 7em;
    height: 3em;
    background-image: url("../src/assets/images/rs_school.svg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(80%) sepia(87%) saturate(679%) hue-rotate(193deg) brightness(125%) contrast(91%);
    transition: 0.3s;
}

.rss:hover {
    filter: invert(54%) sepia(88%) saturate(380%) hue-rotate(14deg) brightness(93%) contrast(94%);
}


.main-container {
    background: url(./assets/images/underground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding: 1em;
    gap: 1em;
    text-align: center;
}

.main-container__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 3em;
    line-height: 1em;
    color: var(--under-gold);
}

.main-container__panel {
    display: flex;
    padding: 0 5em;
    justify-content: space-between;
    margin-bottom: 1.5em;
    align-items: center;
}

.main-container__inputs {
    display:flex;
    flex-direction: column;
    gap: 1em;
}

.garage-btns {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.main-container__tracks {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-container__track {
    display: flex;
}

.track-btns {
    width: 15em;
}

.track {
    height: 5em;
    width: 100%;
    padding: 1em;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    border: none; 
    background: var(--under-gold);
    height: 1.6px;
    width: 100%;
}

.track-items {
    padding-right: 5em;
    display: flex;
    justify-content: space-between;
}

.car-items {
    display: flex;
}

.car {
    width: 5em;
    height: 2.9em;
}

.car-title {
    color:var(--under-gold);
    font-size: 1em;
}

.finish {
    width: 2em;
    height: 2.9em;
    background-image: url("../src/assets/images/finish.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(54%) sepia(88%) saturate(380%) hue-rotate(14deg) brightness(93%) contrast(94%);
}


.main-container__buttons {
    display: flex;
    justify-content: center;
    gap: 0.4em;
}

.main-container__button {
    background: var(--under-gold);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.5em;
    letter-spacing: 0.06em;
    color: var(--background);
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 8em;
    margin: 0 0.3em;
    transition: 0.5s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container__button:hover {
    background: var(--color-hover);
    border: 2px solid var(--gold);
}

.main-container__button:hover img {
    filter: invert(54%) sepia(88%) saturate(380%) hue-rotate(14deg) brightness(93%) contrast(94%);
}

.main-container__button.inactive {
    background: transparent;
    border: 2px solid var(--under-gold);
    cursor: default;
}

#page-holder {
    background: var(--color-hover);
    border: 2px solid var(--gold);
    color: var(--under-gold);
}

.main-container__button.inactive img {
    filter: invert(80%) sepia(0%) saturate(1267%) hue-rotate(229deg) brightness(98%) contrast(94%);
}

.track-btn {
    background: var(--under-gold);
    border-radius: 2em;
    padding: 3px;
    height: 2em;
    width: 5em;
    font-family: 'Poppins', sans-serif;
    font-style: medium;
    font-weight: 400;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.06em;
    color: var(--color-hover);
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease-out;
    margin: 0.3em;
}

.track-btn:hover {
    background: var(--color-hover);
    color: var(--under-gold);
    border: 2px solid var(--under-gold);
}

.track-btn:disabled {
    background: transparent;
    color: transparent;
    border: 2px solid var(--under-gold);
    cursor: default;
}

.winners-page {
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 2px solid var(--under-gold);
    background: black;
    color: var(--color-font);
}

th {
    text-align: center;
    width: 10em;
    height: 3em;
}

td {
    text-align: center;
    width: 6em;
    height: 3em;
}

.create-car, .update-car {
    display: flex;
    gap: 1.1em;
    align-items: center;
}

.garage-input__item {
    border: 0.15em solid var(--under-gold);
    border-radius: 3em;
    background: rgba(0, 0, 0, 0.5);
    height: 2.8em;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1em;
    transition: 0.5s;
}

input.garage-input__item {
    color: var(--under-gold);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    padding-left: 1em;;
}

input:disabled {
    color: transparent;
    background: transparent;
    cursor: default;
}

input:disabled::placeholder {
    color: transparent;
}

input.palette {
    background: var(--under-gold);
    width: 4em;
    border-radius: 3em;
    cursor: pointer;
    padding: 0.1em 0.6em;
}

input.palette:disabled {
    background: transparent;
    cursor: default;
}

.garage-input__item::placeholder {
    font-family: inherit;
    color: var(--under-gold);
    font-size: 1.1em;
}

.button:disabled {
    background: transparent;
    color: transparent;
    border: 2px solid var(--under-gold);
    cursor: default;
}

.audio-payer {
    display: flex;
    gap: 1em;
    width: 30em;
    height: 3em;
    background: transparent;
    align-items: center;
    border: 3px solid var(--under-gold);
    border-radius: 2em;
}

.controls {
    margin-left: 1em;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}

.audio-payer__btn {
    background-repeat: no-repeat;
    background-position: center;
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    filter: invert(100%) sepia(6%) saturate(48%) hue-rotate(195deg) brightness(113%) contrast(91%);
}

.prev {
    background-image: url('../src/assets/images/player/prev.svg');
}

.controls .prev:active {
    transform: scale(1.8);
}

.play {
    background-image: url('../src/assets/images/player/play.svg');
    filter: invert(0%) sepia(6%) saturate(48%) hue-rotate(195deg) brightness(113%) contrast(91%);
}

.paused {
    background-image: url('../src/assets/images/player/pause.svg');
}

.next {
    background-image: url('../src/assets/images/player/skip.svg');
}

.controls .next:active {
    transform: scale(1.8);
}

.progress-bar {
    height: 0.6em;
    width: 100%;
    border-radius: 0.8em;
    position: relative;
    background: var(--under-gold);
}

progress::-webkit-progress-value {
    background: var(--under-gold);
}

.progress-bar::before {
    content: "";
    position: absolute;
    height: 0.9em;
    width: 0.9em;
    border-radius: inherit;
    background: rgb(255, 0, 0);
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.progress-controls:hover .progress-bar::before {
    opacity: 1;
}

.mute {
    background-image: url('../src/assets/images/player/mute.svg');
    margin-right: 1em;
}

@media (max-width: 1170px) {
    .header-container__items {
        flex-direction: column;
        gap: 0.5rem;
        width: 294px;
        align-items: center;
    }

    .audio-payer {
        max-width: 19em;
        padding: 0 0.6em;
    }
}

@media (min-width: 490px) and (max-width: 1100px) {
    .main-container__panel {
        flex-direction: column;
        gap: 5em;
        margin-top: 1em;
    }

    .main-container__inputs {
        order: -1;
    }
}

@media (max-width:770px) {
    .header-container {
        padding: 0 2em;
    }

    .header-container__title {
        font-size: 2.3em;
    }

    .main-container__title {
        font-size: 2.3em;
    }

    .track-btn {
        max-width: 5em;
        width: 100%;
    }

    .footer-container {
        padding: 0 1em;
    }

    .footer-git {
        padding: 0 1em;
    }

    .controls {
        margin-left: 0;
    }

    .audio-payer__btn {
        width: 1.5em;
        height: 1.5em;
    }
    
    .mute {
        background-size: 1.5em;
        margin-right: 0;
    }

    .button {
        height: 2em;
        width: 100%;
    }

    .header-nav {
        gap: 0;
        max-width: 14em;
        width: 100%;
        justify-content: space-between;
    }

    .header-nav__item {
        max-width: 6em;
        width: 100%;
    }

    .main-container__panel {
        padding: 0;
        gap: 3em;
    }

    .garage-btn {
        max-width: 7em;
        width: 100%;
    }

    .main-panel__items {
        max-width: 26em;
        width: 100%;
    }

    .main-panel__items {
        max-width: 26em;
        width: 100%;
    }

    .garage-btns {
        justify-content: space-between;
        gap: 0;
    }

    .garage-btns__item {
        max-width: 7em;
        width: 100%;
    }

    .main-container__track {
        align-items: center;
    }

    .track-btns {
        width: auto;
        max-width: 12em;
        display: flex;
        flex-wrap: wrap;
    }

    .track-btn {
        max-width: 5em;
        width: 100%;
    }
}
